@import "tailwindcss";
@import "tailwindcss/preflight";
@tailwind utilities;

@font-face {
  font-family: Teko;
  src: url('$lib/fonts/Teko-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Teko;
  src: url('$lib/fonts/Teko-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Teko;
  src: url('$lib/fonts/Teko-Light.ttf');
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: Teko;
  src: url('$lib/fonts/Teko-SemiBold.ttf');
  font-weight: semibold;
  font-style: normal;
}

@font-face {
  font-family: Teko;
  src: url('$lib/fonts/Teko-Medium.ttf');
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url('$lib/fonts/Poppins-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Teko;
  src: url('$lib/fonts/Poppins-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Teko;
  src: url('$lib/fonts/Poppins-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: FishFace;
  src: url('$lib/fonts/Fish-Face.ttf');
  font-weight: normal;
  font-style: normal;
}

